﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="8" MadCap:lastHeight="806" MadCap:lastWidth="650">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Authorization Header</h1>
        <p style="text-align: left;">Using the HTTP <span class="ElementName">Authorization</span> header is the most common method of authenticating an <MadCap:variable name="S3 Connector Variables.ComponentName"></MadCap:variable> request, and in fact all of the <MadCap:variable name="S3 Connector Variables.ComponentName"></MadCap:variable> bucket and object operations to provide authentication information.</p>
        <p style="text-align: left;">The <MadCap:variable name="S3 Connector Variables.ComponentName"></MadCap:variable> API uses the standard HTTP Authorization header to pass authentication information.  (The name of the standard header is unfortunate because it carries authentication information, not authorization.) Under the <MadCap:variable name="S3 Connector Variables.ComponentName"></MadCap:variable> authentication scheme, the Authorization header has the following form:</p>
        <p class="codeparatext_lastline">Authorization: AWS {{AccessKeyId}}:{{Signature}}</p>
        <p style="text-align: left;">An access key ID and secret access key can be issued for Accounts or IAM Users. The recommended approach is to issue keys for IAM Users and not for Accounts, and to grant users the permissions needed to access only those resources they require.</p>
        <p style="text-align: left;">As stated previously, the <span class="ElementName">Signature</span> part of the <span class="ProperNameBold">Authorization</span> header will vary from request to request. If the request signature calculated by the system matches the <span class="ElementName">Signature</span> included with the request, the requester will have demonstrated possession of the secret access key. The request will then be processed under the identity, and with the authority, of the developer to whom the key was issued.</p>
        <h2 MadCap:autonum="1.1. &#160;">checkauth</h2>
        <p style="text-align: left;">If there is an <span class="ElementName">Authorization</span> header on the request object, the <span class="Code_Terminal">checkAuth</span> operation determines whether V2 Authentication—Authorization Header  or V4 Authentication—Authorization Header is applicable by parsing the header string. If there is no <span class="ElementName">Authorization</span> header on the request object, <span class="Code_Terminal">checkAuth</span> determines whether V2 Authentication—Query Parameters or V4 Authentication—Query Parameters is applicable by checking which query parameters are included on the request object.</p>
        <h3 MadCap:autonum="1.1.1 &#160;">Sequence: V2 Authentication—Authorization Header </h3>
        <p style="text-align: left;">V2 Authentication—Headers adheres to a strict step sequence in performing authentication.</p>
        <ol>
            <li>Ensures the request is not more than 15 minutes old, returning an error in the event the time restriction is exceeded.</li>
            <li>Obtains the accessKey and signature by parsing the string value of the Authorization header on the request object.</li>
            <li>Builds the StringToSign.<p class="codeparatext">HTTP-Verb + "\n" +</p><p class="codeparatext">Content-MD5 + "\n" +</p><p class="codeparatext">Content-Type + "\n" +</p><p class="codeparatext">Date (or Expiration for query Auth) + "\n" +</p><p class="codeparatext">CanonicalizedAmzHeaders +</p><p class="codeparatext_lastline">CanonicalizedResource;</p></li>
            <li>Performs UTF-8 encoding of the StringToSign.</li>
            <li>Sends information to Vault:<ul><li>User-provided signature</li><li>Encoded <span class="Code_Terminal">StringToSign</span></li><li>User <span class="Code_Terminal">accessKey</span></li></ul></li>
            <li>Vault processes the information provided and returns a value either <span class="ProperNameBold">true</span> (authentication confirmed, request moves forward) or false (request rejected).<ol style="list-style-type: lower-alpha;"><li>Vault pulls the secretKey for the user based on the accessKey.</li><li>Vault creates a digest, using an encryption algorithm (either HMAC-SHA1 or HMAC-SHA256, depending on the length of the signature in the request) with the secretKey and the utf8-encoded StringToSign as inputs.</li><li>Vault Base64 encodes the digest, which results in the reconstructed signature.</li><li>Vault compares the reconstructed signature with the signature provided by the request to confirm authentication.</li></ol></li>
        </ol>
        <h3 MadCap:autonum="1.1.2 &#160;">Sequence: V2 Authentication—Query Parameters</h3>
        <p class="pgBreakKeepNext" style="text-align: left;">V2 Authentication—Query Parameters adheres to a strict step sequence in performing authentication.</p>
        <ol>
            <li>Ensures the request is not expired by checking the <span class="ElementName">Expires</span> query parameter.</li>
            <li>Obtains the <span class="Code_Terminal">accessKey</span> from the <span class="ElementName">AWSAccessKeyID</span> query parameter.</li>
            <li>Obtains the signature from the <span class="ElementName">Signature</span> query parameter.</li>
            <li>Builds the <span class="Code_Terminal">StringToSign</span>.<p class="codeparatext">HTTP-Verb + "\n" +</p><p class="codeparatext">Content-MD5 + "\n" +</p><p class="codeparatext">Content-Type + "\n" +</p><p class="codeparatext">Date (or Expiration for query Auth) + "\n" +</p><p class="codeparatext">CanonicalizedAmzHeaders +</p><p class="codeparatext">CanonicalizedResource;</p></li>
            <li>Performs UTF-8 encoding of the <span class="Code_Terminal">StringToSign</span>.</li>
            <li>Sends information to Vault:<ul><li>User-provided signature</li><li>Encoded <span class="Code_Terminal">StringToSign</span></li><li>User <span class="Code_Terminal">accessKey</span></li></ul></li>
            <li>Vault processes the information provided and returns either a value either <span class="Code_Terminal">true</span> (authentication confirmed, request moves forward) or <span class="Code_Terminal">false</span> (request rejected).<ol style="list-style-type: lower-alpha;"><li>Vault pulls the <span class="Code_Terminal">secretKey</span> for the user based on the <span class="Code_Terminal">accessKey</span>.</li><li>Vault creates a digest, using an encryption algorithm (either HMAC-SHA1 or HMAC-SHA256, depending on the length of the signature in the request) with the <span class="Code_Terminal">secretKey</span> and the utf8-encoded <span class="Code_Terminal">StringToSign</span> as inputs.</li><li>Vault Base64 encodes the digest, which results in the reconstructed signature.</li><li>Vault compares the reconstructed signature with the signature provided by the request to confirm authentication.</li></ol></li>
        </ol>
        <h3 MadCap:autonum="1.1.3 &#160;">Sequence: V4 Authentication—Authorization Header </h3>
        <p style="text-align: left;">V4 Authentication-Headers adheres to a strict step sequence in performing authentication.</p>
        <ol>
            <li>Ensures the request timestamp matches the request date value of the Authorization header, returning an error in the event of a mismatch.</li>
            <li>Obtains the following values from the Authorization header: <span class="Code_Terminal">scopeDate</span>, <span class="Code_Terminal" MadCap:conditions="PrintGuides.GA6.4">region</span>, <span class="ElementName" MadCap:conditions="PrintGuides.GA7.0">LocationConstraint</span>, <span class="Code_Terminal">accessKey</span> and <span class="Code_Terminal">credentialScope</span>.</li>
            <li>Checks that <span class="Code_Terminal">scopeDate</span> falls within the previous seven days.</li>
            <li>Calculates the utf8-encoded <span class="Code_Terminal">stringToSign</span>.<div><p class="codeparatext">"AWS4-HMAC-SHA256" + "\n" +</p><p class="codeparatext">timeStampISO8601Format + "\n" +</p><p class="codeparatext">&lt;Scope&gt; + "\n" +</p><p class="codeparatext_lastline">Hex(SHA256Hash(&lt;CanonicalRequest&gt;))</p><p class="NestedListTextIndent">Where CanonicalRequest is:</p><p class="codeparatext">&lt;HTTPMethod&gt;\n</p><p class="codeparatext">&lt;CanonicalURI&gt;\n</p><p class="codeparatext">&lt;CanonicalQueryString&gt;\n</p><p class="codeparatext">&lt;CanonicalHeaders&gt;\n</p><p class="codeparatext">&lt;SignedHeaders&gt;\n</p><p class="codeparatext">&lt;HashedPayload&gt;</p></div></li>
            <li>Sends information to Vault:<ul><li><span class="Code_Terminal">accessKey</span></li><li><span class="Code_Terminal">signatureFromRequest</span></li><li><span class="ElementName">LocationConstraint</span></li><li><span class="Code_Terminal">scopeDate</span></li><li><span class="Code_Terminal">stringToSign</span></li></ul></li>
            <li>
                <p>Vault processes the information provided and in the event of authentication returns <span class="Code_Terminal">accessKey</span> owner information (account canonicalID, account/user arn, associated email, etc.).</p>
                <ol style="list-style-type: lower-alpha;">
                    <li>
                        <p>Vault pulls the <span class="Code_Terminal">secretKey</span> associated to the <span class="Code_Terminal">accessKey</span> value received from S3.</p>
                    </li>
                    <li>
                        <p>Vault calculates the <span class="Code_Terminal">signingKey</span> from the <span class="Code_Terminal">secretKey</span> and the values received from S3:</p>
                        <ul>
                            <li>
                                <p><span class="Code_Terminal">dateKey</span> = HMAC-SHA256 ("AWS4" + "{{SecretAccessKey}}", "{{YYYYMMDD}}")</p>
                            </li>
                            <li>
                                <p><span class="Code_Terminal">dateRegionKey</span> = HMAC-SHA256(dateKey, "{{aws-region}}")</p>
                            </li>
                            <li>
                                <p><span class="Code_Terminal">dateRegionServiceKey</span> = HMAC-SHA256 (dateRegionKey, "{{awsservice}}")</p>
                            </li>
                            <li>
                                <p><span class="Code_Terminal">signingKey</span> = HMAC-SHA256 (dateRegionServiceKey, "aws4_request")</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Vault computes its own version of the signature from <span class="Code_Terminal">stringToSign</span> and <span class="Code_Terminal">signingKey</span> as HMAC-SHA256 (<span class="Code_Terminal">signingKey</span>, <span class="Code_Terminal">stringToSign</span>)</p>
                    </li>
                    <li>
                        <p>Vault compares the reconstructed signature with the signature provided by the request to confirm authentication.</p>
                    </li>
                </ol>
            </li>
        </ol>
        <h3 MadCap:autonum="1.1.4 &#160;">Sequence: V4 Authentication—Query Parameters</h3>
        <p style="text-align: left;">V4 Authentication using query parameters is similar to V4 authentication using authorization header, with the difference being that certain values – <span class="Code_Terminal">scopeDate</span>, <span class="Code_Terminal">region</span>, <span class="Code_Terminal">accessKey</span>, and <span class="Code_Terminal">credentialScope</span> – are obtained from the query string.</p>
    </body>
</html>