﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="5" MadCap:lastHeight="853" MadCap:lastWidth="648">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">Abort Multipart Upload</h1>
        <p style="text-align: left;">The Abort Multipart Upload operation is used to cancel a multipart upload (the upload ID for the affected object must be supplied). Once initiated, no additional parts can be uploaded using that upload ID. </p>
        <p class="Note" style="text-align: left;">In the event of an Abort Multipart Upload operation the storage consumed by any previously uploaded parts will be freed, however if any part uploads are currently in progress those part uploads might or might not succeed. As a result, it might be necessary to abort a given multipart upload multiple times in order to completely free all storage consumed by all parts. To verify that all parts have been removed, call the List Parts operation and ensure the parts list is empty.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3>
        <p style="text-align: left;">An upload ID must be included in the URL query string supplied with the DELETE request for the Abort Multipart Upload operation:</p>
        <p class="codeparatext">DELETE /{{ObjectName}}?uploadId={{UploadId}} HTTP/1.1</p>
        <p class="codeparatext">Host: {{BucketName}}.{{StorageService}}.com</p>
        <p class="codeparatext">Date: {{date}}</p>
        <p class="codeparatext">Authorization: {{authorizationString}}</p>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p style="text-align: left;">The Abort Multipart Upload operation does not use request parameters.</p>
        <h3 MadCap:autonum="1.0.3 &#160;">Request Headers</h3>
        <p style="text-align: left;">Implementation of the Abort Multipart Upload operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Common Request Headers.htm"><MadCap:xref href="../7_Request Headers/Request Headers.htm">"Request Headers" on page&#160;1</MadCap:xref></MadCap:xref>). </p>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Elements</h3>
        <p style="text-align: left;">The Abort Multipart Upload operation does not use request elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses</h2>
        <h3 MadCap:autonum="1.0.5 &#160;">Response Headers</h3>
        <p style="text-align: left;">Implementation of the Abort Multipart Upload operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Common Request Headers.htm">"Common Request Headers" on page&#160;1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.6 &#160;">Response Elements</h3>
        <p style="text-align: left;">The Abort Multipart Upload operation does not return response elements.</p>
        <h3 MadCap:autonum="1.0.7 &#160;">Special Errors</h3>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 250px;" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Error</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">NoSuchUpload error (HTTP 404 Not Found status code)</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">Occurs when an invalid upload ID is provided in the Upload Part request, or when a multipart upload has already been either completed or aborted.</td>
                </tr>
            </tbody>
        </table>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h3 MadCap:autonum="1.0.8 &#160;">Aborts a Multipart Upload Identified by its Upload ID</h3>
        <h4>Request Sample</h4>
        <p class="codeparatext">DELETE /example-object?uploadId=VXBsb2FkIElEIGZvciBlbHZpbmcncyBteS1tb3ZpZS5tMnRzIHVwbG9hZ HTTP/1.1</p>
        <p class="codeparatext">Host: example-bucket.s3.scality.com</p>
        <p class="codeparatext">Date:  Mon, 1 Nov 2010 20:34:56 GMT</p>
        <p class="codeparatext">Authorization: {{authorizationString}}</p>
        <h4>Response Sample</h4>
        <p class="codeparatext">HTTP/1.1 204 OK</p>
        <p class="codeparatext">x-amz-id-2: Weag1LuByRx9e6j5Onimru9pO4ZVKnJ2Qz7/C1NPcfTWAtRPfTaOFg==</p>
        <p class="codeparatext">x-amz-request-id: 996c76696e6727732072657175657374</p>
        <p class="codeparatext">Date:  Mon, 1 Nov 2010 20:34:56 GMT</p>
        <p class="codeparatext">Content-Length: 0</p>
        <p class="codeparatext">Connection: keep-alive</p>
        <p class="codeparatext">Server: ScalityS3</p>
    </body>
</html>