﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="863" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">DELETE Object Tagging</h1>
        <p style="text-align: left;">This implementation of the DELETE operation uses the tagging subresource to remove the entire tag set from the specified object. For more information about managing object tags, see <a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/object-tagging.html">Object Tagging</a> in the <cite>Amazon Simple Storage Service Developer Guide</cite>. </p>
        <p style="text-align: left;">To use this operation, you must have permission to perform the <span class="Code_Terminal">s3:DeleteObjectTagging</span> action.</p>
        <p style="text-align: left;">To delete tags of a specific object version, add the <span class="Code_Terminal">versionId</span> query parameter in the request. You will need permission for the <span class="Code_Terminal">s3:DeleteObjectVersionTagging</span> action.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3><pre xml:space="preserve">DELETE /ObjectKey/ ?tagging HTTP/1.1
Host: {{BucketName}}.{{StorageService}}.com
Date: {{date}}
Content-Length: {{length}}
Authorization: {{authenticationInformation}}</pre>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p style="text-align: left;">The DELETE&#160;Object Tagging operation does not use request parameters.</p>
        <h3 MadCap:autonum="1.0.3 &#160;">Request Headers</h3>
        <p style="text-align: left;">Implementation of the DELETE Object Tagging operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Request Headers.htm">"Request Headers" on page&#160;1</MadCap:xref>). </p>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Elements</h3>
        <p style="text-align: left;">The DELETE&#160;Object Tagging operation does not use request elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses </h2>
        <h3 MadCap:autonum="1.0.5 &#160;">Response Headers</h3>
        <p class="pgBreakKeepNext" style="text-align: left;">Implementation of the DELETE&#160;Object Tagging operation uses onlyresponse headers that are common to all operations (refer to <MadCap:xref href="../8_Response Headers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.6 &#160;">Response Elements</h3>
        <p style="text-align: left;">The DELETE Object Tagging operation does not return response elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h4>Request Sample</h4><pre xml:space="preserve">DELETE exampleobject/?tagging HTTP/1.1
Host: {{bucketname}}.s3.scality.com
Date: Wed, 12 Oct 2016 17:50:00 GMT
Authorization: {{authorizationString}}</pre>
        <h4>Response Sample</h4>
        <p>The following successful response shows Amazon S3 returning a 204 No Content response. The tag set for the object has been removed. </p><pre xml:space="preserve">HTTP/1.1 204 No Content
Date: Wed, 25 Nov 2016 12:00:00 GMT
Connection: close
Server: ScalityS3</pre>
    </body>
</html>