﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="878" MadCap:lastWidth="648">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;"> GET Bucket (List Objects)</h1>
        <p style="text-align: left;">The GET Bucket (List Objects) operation returns some or all objects in a bucket (up to 1000, which is also the default setting). By default, the objects returned by the GET Bucket operation is limited to 1000, however this can be changed via the <span class="Code_Terminal">max-keys</span> parameter to any number less than 1000.</p>
        <p style="text-align: left;">The request parameters for GET Bucket (List Objects) can be used as selection criteria to return a subset of the objects in a bucket. A <span class="Code_Terminal">200 OK</span> response can contain valid or invalid xml. So applications should be designed to parse the contents of the response and to handle it appropriately.</p>
        <p class="Note" style="text-align: left;">Use the <a href="GET Service.htm" title="GET Service (API Operation)" alt="GET Service (API Operation)">GET Service</a> operation to obtain the list of buckets owned and the <a href="List Multipart Uploads.htm" title="List Multipart Uploads (API Operation)" alt="List Multipart Uploads (API Operation)">List Multipart Uploads</a> operation to return the list of in-progress multipart uploads for a given bucket.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3><pre xml:space="preserve" style="page-break-inside: avoid;">GET / HTTP/1.1
Host: {{BucketName}}.{{ConnectorName}}.{{StorageService}}.com
Date: {{date}}
Authorization: {{authenticationInformation}}</pre>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p class="pgBreakKeepNext" style="text-align: left;">The GET Bucket (List Objects) operation can use the following optional parameters to return a subset of objects in a bucket:</p>
        <table style="width: 100%;margin-left: 0;margin-right: auto;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 119px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Parameter</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">delimiter</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Character used to group keys</p>
                        <p class="InTableFormatted">All keys that contain the same string between the <span class="ElementName">prefix</span>, if specified, and the first occurrence of the delimiter after the prefix are grouped under a single result element, <span class="ElementName">CommonPrefixes</span>. If prefix is not specified, then the substring starts at the beginning of the key. The keys that are grouped under <span class="ElementName">CommonPrefixes</span> result element are not returned elsewhere in the response.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">encoding-type</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Encodes keys with the method specified. Since XML 1.0 parsers cannot parse certain characters that may be included in an object key, you can encode the keys in the response to make sure they are legible. Encoding is not set by default. Currently the only valid value is <span class="Code_Terminal">url</span>.
</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">marker</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">integer</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Specifies the key to start with when listing objects in a bucket. <MadCap:variable name="S3 Connector Variables.ComponentName" /> returns object keys in UTF-8 binary order, starting with key after the marker in order.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">max-keys</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">string</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1"> Limits the number of keys included in the list. Default is 1000. The <span class="ElementName">IsTruncated</span> element returns true if the search criteria results for the request exceed the value set for the <span class="ElementName">max-keys</span> parameter.</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">prefix</td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">string</td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">Specifies a string that must be present at the beginning of a key in order for the key to be included in the GET Bucket response list.</td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:autonum="1.0.3 &#160;">Request Headers</h3>
        <p style="text-align: left;">Implementation of the GET Bucket (List Objects) operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Request Headers.htm">"Request Headers" on page&#160;1</MadCap:xref>). </p>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Elements</h3>
        <p style="text-align: left;">The GET Bucket (List Objects) operation does not use request elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses</h2>
        <h3 MadCap:autonum="1.0.5 &#160;">Response Headers</h3>
        <p style="text-align: left;">Implementation of the GET Bucket (List Objects) operation uses only response headers that are common to all operations (refer to <MadCap:xref href="../8_Response Headers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.6 &#160;">Response Elements</h3>
        <p class="pgBreakKeepNext" style="text-align: left;">The GET Bucket (List Objects) operation can return the following XML&#160;elements in the response: </p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 120px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 73px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Contents</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">XML metadata</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Metadata about each object returned</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">CommonPrefixes</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">A response can contain <span class="ElementName">CommonPrefixes</span>&#160;only if <span class="ElementName">Delimiter</span> is specified. When that is the case, <span class="ElementName">CommonPrefixes</span>&#160;contains all (if there are any) keys between <span class="ElementName">Prefix</span>&#160;and the next occurrence of the string specified by&#160;<span class="ElementName">Delimiter</span>. In effect,&#160;<span class="ElementName">CommonPrefixes</span>&#160;lists keys that act like subdirectories in the directory specified by&#160;<span class="ElementName">Prefix</span>. All of the keys rolled up in a common prefix count as a single return when calculating the number of returns. Refer to <span class="ElementName">MaxKeys</span>.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Delimiter</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Causes keys that contain the same string between the prefix and the first occurrence of the delimiter to be rolled up into a single result element in the&#160;<span class="ElementName">CommonPrefixes</span>&#160;collection. These rolled-up keys are not returned elsewhere in the response. Each rolled up result counts as only one return against the&#160;<span class="ElementName">MaxKeys</span>&#160;value.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">DisplayName</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Object owner's name</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Encoding-Type</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Encoding type used by <MadCap:variable name="S3 Connector Variables.ComponentName" /> to encode object key names in the XML response.</p>
                        <p class="InTableFormatted">If <span class="ElementName">encoding-type</span>&#160;request parameter is specified, <MadCap:variable name="S3 Connector Variables.ComponentName" /> includes this element in the response, and returns encoded key name values in the following response elements: <span class="ElementName">Delimiter</span>,&#160;<span class="ElementName">Marker</span>,&#160;<span class="ElementName">Prefix</span>,&#160;<span class="ElementName">NextMarker</span>,&#160;<span class="ElementName">Key</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">ETag</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">The entity tag is an MD5 hash of the object. The ETag only reflects changes to the contents of an object, not its metadata.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">ID</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Object owner's ID</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">IsTruncated</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Boolean</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Specifies whether (<span class="ProperNameBold">true</span>) or not (<span class="ProperNameBold">false</span>) all of the results were returned. All of the results may not be returned if the number of results exceeds that specified by&#160;<span class="ElementName">MaxKeys</span>.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Key</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">The object's key</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">LastModified</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">date</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Date and time the object was last modified</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Marker</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Indicates where in the bucket listing begins;&#160;<span class="ElementName">Marker</span>&#160;is included in the response if it was sent with the request</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">MaxKeys</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">The maximum number of keys returned in the response body</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Name</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Name of the bucket</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">NextMarker</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>When response is truncated (the&#160;<span class="ElementName">IsTruncated</span>&#160;element value in the response is true), the key name can be used in this field as&#160;<span class="ElementName">marker</span>&#160;in the subsequent request to get next set of objects. <MadCap:variable name="S3 Connector Variables.ComponentName" /> lists objects in UTF-8 binary order.</p>
                        <p>Note that <MadCap:variable name="S3 Connector Variables.ComponentName" /> returns the <span class="ElementName">NextMarker</span> only if a <span class="ElementName">Delimiter</span> request parameter is specified (which runs counter to the AWS practice).</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Owner</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Bucket owner</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Prefix</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Keys that begin with the indicated prefix</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">Size</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">Size in bytes of the object</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h3 MadCap:autonum="1.0.7 &#160;">Get the Objects in the Backup Bucket</h3>
        <div>
            <h4>Request Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">GET / HTTP/1.1
Host: backup.s3.scality.com
Date: Thu, 31 Mar 2016 15:11:47 GMT
Authorization: AWS pat:6nYhPMw6boadLgjywjSIyhfwRIA=</pre>
        </div>
        <h3 MadCap:autonum="1.0.8 &#160;">Presents a Single Object</h3>
        <div>
            <h4>Response Sample</h4><pre xml:space="preserve">&lt;?xml version="1.0" encoding="UTF-8"?&gt;
  &lt;ListBucketResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
    &lt;Name&gt;backup&lt;/Name&gt;
    &lt;Prefix&gt;&lt;/Prefix&gt;
    &lt;Marker&gt;&lt;/Marker&gt;
    &lt;MaxKeys&gt;1000&lt;/MaxKeys&gt;
    &lt;Delimiter&gt;/&lt;/Delimiter&gt;
    &lt;IsTruncated&gt;false&lt;/IsTruncated&gt;
  &lt;Contents&gt;
    &lt;Key&gt;support-20110614.md5&lt;/Key&gt;
    &lt;LastModified&gt;2011-06-14T05:08:57.000Z&lt;/LastModified&gt;
    &lt;ETag&gt;&amp;amp;quot;8aad2888fd4fafaeabb643ccdaa77872&amp;amp;quot;&lt;/ETag&gt;
    &lt;Size&gt;155&lt;/Size&gt;
    &lt;Owner&gt;
      &lt;ID&gt;3452783832C94517345278000000004000000120&lt;/ID&gt;
      &lt;DisplayName&gt;Patrick&lt;/DisplayName
    &lt;/Owner&gt;
  &lt;Contents&gt;
  &lt;/ListBucketResult&gt;</pre>
        </div>
        <h3 MadCap:autonum="1.0.9 &#160;">Use of max_keys Parameter</h3>
        <p>List up to 4 keys in the "demo" bucket.</p>
        <div>
            <h4>Request Sample</h4><pre xml:space="preserve" style="page-break-inside: avoid;">GET /?max-keys=4 HTTP/1.1
Host: demo.s3.scality.com
Accept: */*
Authorization: AWS pat:0YPPNCCa9yAbKOFdlLD/ixMLayg=
Date: Tue, 28 Jun 2011 09:27:15 GMT
Connection: close</pre>
        </div>
        <div>
            <h4>Response Sample</h4><pre xml:space="preserve">HTTP/1.1 200 OK
Date: Tue, 28 Jun 2011 09:27:15 GMT
Server: RestServer/1.0
Content-Length: 1499
Content-Type: application/xml
Cache-Control: no-cache
Connection: close 

&lt;?xml version="1.0" encoding="UTF-8"?&gt;
  &lt;ListBucketResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
    &lt;Name&gt;confpat&lt;/Name&gt;
    &lt;Prefix&gt;&lt;/Prefix&gt;
    &lt;Marker&gt;&lt;/Marker&gt;
    &lt;MaxKeys&gt;4&lt;/MaxKeys&gt;
    &lt;IsTruncated&gt;true&lt;/IsTruncated&gt;
   &lt;Contents&gt;
     &lt;Key&gt;DS_Store&lt;/Key&gt;
     &lt;LastModified&gt;2011-06-26T23:45:35.000Z&lt;/LastModified&gt;
     &lt;ETag&gt;&gt;&amp;quot;02674163a1999de7c3fe664ae6f3085e&amp;quot;&lt;/ETag&gt;
     &lt;Size&gt;12292&lt;/Size&gt;
     &lt;Owner&gt;
       &lt;ID&gt;3452783832C94517345278000000004000000120&lt;/ID&gt;
       &lt;DisplayName&gt;pat&lt;/DisplayName&gt;
     &lt;/Owner&gt;
     &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
   &lt;/Contents&gt;
   &lt;Contents&gt;
     &lt;Key&gt;Aziende/cluster.sh&lt;/Key&gt;
     &lt;LastModified&gt;2011-05-20T14:33:37.000Z&lt;/LastModified&gt;
     &lt;ETag&gt;&amp;quot;45ecf8f5ebc7740b034c40e0412250ec&amp;quot;&lt;/ETag&gt;
     &lt;Size&gt;74&lt;/Size&gt;
     &lt;Owner&gt;
       &lt;ID&gt;3452783832C94517345278000000004000000120&lt;/ID&gt;
       &lt;DisplayName&gt;pat&lt;/DisplayName&gt;
     &lt;/Owner&gt;
     &lt;StorageClass&gt;STANDARD&lt;/StorageClass&gt;
   &lt;/Contents&gt; 
&lt;/ListBucketResult&gt;</pre>
        </div>
        <h3 MadCap:autonum="1.0.10 &#160;">Using Prefix and Delimiter</h3>
        <h4>Request Sample</h4>
        <p style="text-align: left;">The following keys are present in the sample bucket:</p>
        <ul>
            <li><span class="ProprietaryFileName">greatshot.raw</span>
            </li>
            <li><span class="ProprietaryFileName">photographs/2006/January/greatshot.raw</span>
            </li>
            <li><span class="ProprietaryFileName">photographs/2006/February/greatshot_a.raw</span>
            </li>
            <li><span class="ProprietaryFileName">photographs/2006/February/greatshot_b.raw</span>
            </li>
            <li><span class="ProprietaryFileName">photographs/2006/February/greatshot_c.raw</span>
            </li>
        </ul>
        <div>
            <p class="pgBreakKeepNext" style="text-align: left;">The following GET request specifies the <span class="ElementName">delimiter</span> parameter with value "/".</p><pre xml:space="preserve" style="page-break-inside: avoid;">GET /?delimiter=/ HTTP/1.1
Host: example-bucket.s3.scality.com
Date: Wed, 01 Mar  2006 12:00:00 GMT
Authorization: {{authorizationString}}</pre>
        </div>
        <p style="text-align: left;">The key <span class="ProprietaryFileName">greatshot.raw</span> does not contain the delimiter character, and <MadCap:variable name="S3 Connector Variables.ComponentName" /> returns it in the <span class="ElementName">Contents</span> element in the response. However, all other keys contain the delimiter character. <MadCap:variable name="S3 Connector Variables.ComponentName" /> groups these keys and return a single <span class="ElementName">CommonPrefixes</span> element with the common prefix value <span class="Code_Terminal">photographs/</span>, which is a substring from the beginning of these keys to the first occurrence of the specified delimiter.</p><pre xml:space="preserve">&lt;ListBucketResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
  &lt;Name&gt;example-bucket&lt;/Name&gt;
  &lt;Prefix&gt;&lt;/Prefix&gt;
  &lt;Marker&gt;&lt;/Marker&gt;
  &lt;MaxKeys&gt;1000&lt;/MaxKeys&gt;
  &lt;Delimiter&gt;/&lt;/Delimiter&gt;
  &lt;IsTruncated&gt;false&lt;/IsTruncated&gt;
  &lt;Contents&gt;
    &lt;Key&gt;greatshot.raw&lt;/Key&gt;
    &lt;LastModified&gt;2011-02-26T01:56:20.000Z&lt;/LastModified&gt;
    &lt;ETag&gt;&amp;amp;quot;bf1d737a4d46a19f3bced6905cc8b902&amp;amp;quot;&lt;/ETag&gt;
    &lt;Size&gt;142863&lt;/Size&gt;
    &lt;Owner&gt;
      &lt;ID&gt;accessKey-user-id&lt;/ID&gt;
      &lt;DisplayName&gt;display-name&lt;/DisplayName&gt;
    &lt;/Owner&gt;
  &lt;/Contents&gt;
  &lt;CommonPrefixes&gt;
    &lt;Prefix&gt;photographs/&lt;/Prefix&gt;
  &lt;/CommonPrefixes&gt;
&lt;/ListBucketResult&gt;</pre>
        <div>
            <p style="text-align: left;">The following GET request specifies the <span class="ElementName">delimiter</span> parameter with value "/", and the <span class="ElementName">prefix</span> parameter with value <span class="Code_Terminal">photographs/2006/</span>.</p><pre xml:space="preserve" style="page-break-inside: avoid;">GET /?prefix=photographs/2006/&amp;amp;delimiter=/ HTTP/1.1
Host: example-bucket.s3.scality.com
Date: Wed, 01 Mar  2006 12:00:00 GMT
Authorization: {{authorizationString}}</pre>
        </div>
        <p style="text-align: left;">In response, <MadCap:variable name="S3 Connector Variables.ComponentName" /> returns only the keys that start with the specified prefix. Further, it uses the delimiter character to group keys that contain the same substring until the first occurrence of the delimiter character after the specified prefix. For each such key group <MadCap:variable name="S3 Connector Variables.ComponentName" /> returns one <span class="ElementName">CommonPrefixes</span> element in the response. The keys grouped under this <span class="ElementName">CommonPrefixes</span> element are not returned elsewhere in the response. The value returned in the <span class="ElementName">CommonPrefixes</span> element is a substring, from the beginning of the key to the first occurrence of the specified delimiter after the prefix.</p><pre xml:space="preserve">&lt;ListBucketResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;
  &lt;Name&gt;example-bucket&lt;/Name&gt;
  &lt;Prefix&gt;photographs/2006/&lt;/Prefix&gt;
  &lt;Marker&gt;&lt;/Marker&gt;
  &lt;MaxKeys&gt;1000&lt;/MaxKeys&gt;
  &lt;Delimiter&gt;/&lt;/Delimiter&gt;
  &lt;IsTruncated&gt;false&lt;/IsTruncated&gt;
  &lt;CommonPrefixes&gt;
    &lt;Prefix&gt;photographs/2006/February/&lt;/Prefix&gt;
 &lt;/CommonPrefixes&gt;
  &lt;CommonPrefixes&gt;
    &lt;Prefix&gt;photographs/2006/January/&lt;/Prefix&gt;
  &lt;/CommonPrefixes&gt;
&lt;/ListBucketResult&gt;</pre>
    </body>
</html>