﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="837" MadCap:lastWidth="648">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">List Parts</h1>
        <p style="text-align: left;">The List Parts operation catalogs the parts that have been uploaded for a specific multipart upload. The operation must include the upload ID, which is obtained when the initiate multipart upload request is sent (refer to <MadCap:xref href="Initiate Multipart Upload.htm">"Initiate Multipart Upload" on page 1</MadCap:xref>). </p>
        <p style="text-align: left;">List Parts returns a maximum of 1,000 parts (which is also the default setting for parts returned, adjustable via the <span class="ElementName">max-parts</span> request parameter). If the multipart upload consists of more than 1,000 parts, the response returns an <span class="ElementName">IsTruncated</span> field with the value of <span class="Code_Terminal">true</span>, and a <span class="ElementName">NextPartNumberMarker</span> element. In subsequent List Parts requests it is possible to include the part-number-marker query string parameter and set its value to the <span class="ElementName">NextPartNumberMarker</span> field value from the previous response.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3>
        <p class="codeparatext">GET /{{ObjectName}}?uploadId={{UploadId}} HTTP/1.1</p>
        <p class="codeparatext">Host: {{BucketName}}.{{StorageService}}.com</p>
        <p class="codeparatext">Date: {{date}}</p>
        <p class="codeparatext">Authorization: {{authorizationString}}</p>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p class="pgBreakKeepNext" style="text-align: left;">The List Parts operation's implementation of GET uses certain parameters to return a subset of the objects in a bucket.</p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 120px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 80px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Parameter</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">encoding-type</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Requests that <MadCap:variable name="S3 Connector Variables.ComponentName" /> encode the response and specifies the encoding method to use</p>
                        <p class="InTableFormatted">An object key can contain any Unicode character; however, XML 1.0 parser cannot parse some characters, such as characters with an ASCII value from 0 to 10. For characters that are not supported in XML 1.0, you can add this parameter to request that <MadCap:variable name="S3 Connector Variables.ComponentName" /> encode the keys in the response.</p>
                        <p class="InTableFormatted">Default: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">uploadID</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Upload ID identifying the multipart upload whose parts are being listed</p>
                        <p class="InTableFormatted">Default: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">max-parts</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Sets the maximum number of parts to return in the response body</p>
                        <p class="InTableFormatted">Default: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">part-number-marker</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">Specifies the part after which listing should begin. Only parts with higher part numbers will be listed.</p>
                        <p class="InTableFormatted">Default: None</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:autonum="1.0.3 &#160;">Request Headers</h3>
        <p style="text-align: left;">Implementation of the List Parts operation uses only request headers that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Common Request Headers.htm"><MadCap:xref href="../7_Request Headers/Request Headers.htm">"Request Headers" on page&#160;1</MadCap:xref></MadCap:xref>). </p>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Elements</h3>
        <p style="text-align: left;">The List Parts operation does not use request elements.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses</h2>
        <h3 MadCap:autonum="1.0.5 &#160;">Response Headers</h3>
        <p style="text-align: left;">The List Parts operation uses only the common response headers supported by <MadCap:variable name="S3 Connector Variables.ComponentName" /> (refer to <MadCap:xref href="../8_Response Headers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
        <h3 MadCap:autonum="1.0.6 &#160;">Response Elements</h3>
        <p class="pgBreakKeepNext" style="text-align: left;">The List Parts operation  can return the following XML&#160;elements of the response (includes XML containers): </p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 120px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 80px;" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Element</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">ListPartsResult</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Container for the response</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Bucket</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Name of the bucket to which the multipart upload was initiated</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Encoding-Type</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Encoding type used by <MadCap:variable name="S3 Connector Variables.ComponentName"></MadCap:variable> to encode object key names in the XML response</p>
                        <p class="InTableFormatted">If the&#160;<span class="ElementName">encoding-type</span>&#160;request parameter is specified, <MadCap:variable name="S3 Connector Variables.ComponentName" /> includes this element in the response, and returns encoded key name values in the&#160;<span class="ElementName">Key</span>&#160;element.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Key</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Object key for which the multipart upload was initiated</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">UploadId</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Upload ID identifying the multipart upload whose parts are being listed</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Initiator</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Container element that identifies who initiated the multipart upload</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">ID</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">User ID</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">DisplayName</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Principal's name</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Owner</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Container element that identifies the object owner, after the object is created</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">PartNumberMarker</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">integer</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Part number after which listing begins</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">NextPartNumberMarker</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">integer</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">When a list is truncated, this element specifies the last part in the list, as well as the value to use for the&#160;<span class="ElementName">part-number-marker</span>&#160;request parameter in a subsequent request.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">MaxParts</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">integer</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Maximum number of parts allowed in the response</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">IsTruncated</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Boolean</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Indicates whether the returned list of parts is truncated. A&#160;<span class="ProperNameBold">true</span>&#160;value indicates that the list was truncated. A list can be truncated if the number of parts exceeds the limit returned in the&#160;<span class="ElementName">MaxParts</span>&#160;element.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">Part</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Container for elements related to a particular part. A response can contain zero or more <span class="ElementName">Part</span>&#160;elements.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">PartNumber</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">integer</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Part number identifying the part</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">LastModified</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">date</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Date and time at which the part was uploaded</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">ETag</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Entity tag returned when the part was uploaded</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">Size</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">integer</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">Size of the uploaded part data</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h3 MadCap:autonum="1.0.7 &#160;">List Parts</h3>
        <p style="text-align: left;">Assume parts have been uploaded with sequential part numbers starting with 1. </p>
        <p style="text-align: left;">The example request specifies <span class="ElementName">max-parts</span> and <span class="ElementName">part-number-marker</span> query parameters. It lists the first two parts that follow part 1 (i.e., parts 2 and 3) in the response. If more parts exist, the result is truncated and the response will return an <span class="ElementName">IsTruncated</span> element with the value <span class="ProperNameBold">true</span>. The response will also return the <span class="ElementName">NextPartNumberMarker</span> element with the value <span class="ProperNameBold">3</span>, which should be used for the value of the <span class="ElementName">part-number-marker</span> request query string parameter in the next List Parts request.</p>
        <h4>Request Sample</h4>
        <p class="codeparatext">GET /example-object?uploadId=XXBsb2FkIElEIGZvciBlbHZpbmcncyVcdS1tb3ZpZS5tMnRzEEEwbG9hZA&amp;max-parts=2&amp;part-number-marker=1 HTTP/1.1</p>
        <p class="codeparatext">Host:  example-bucket.{{StorageService}}.com</p>
        <p class="codeparatext">Date: Mon, 1 Nov 2010 20:34:56 GMT</p>
        <p class="codeparatext">Authorization: {{authorizationString}}</p>
        <h4>Response Sample</h4>
        <p class="codeparatext">HTTP/1.1 200 OK</p>
        <p class="codeparatext">x-amz-id-2: Uuag1LuByRx9e6j5Onimru9pO4ZVKnJ2Qz7/C1NPcfTWAtRPfTaOFg==</p>
        <p class="codeparatext">x-amz-request-id: 656c76696e6727732072657175657374</p>
        <p class="codeparatext">Date: Mon, 1 Nov 2010 20:34:56 GMT</p>
        <p class="codeparatext">Content-Length: 985</p>
        <p class="codeparatext">Connection: keep-alive</p>
        <p class="codeparatext_lastline">Server: ScalityS3</p>
        <p class="codeparatext">&lt;?xml version="1.0" encoding="UTF-8"?&gt;</p>
        <p class="codeparatext">&lt;ListPartsResult xmlns="http://s3.scality.com/doc/2006-03-01/"&gt;</p>
        <p class="codeparatext_indent">&lt;Bucket&gt;example-bucket&lt;/Bucket&gt;</p>
        <p class="codeparatext_indent">&lt;Key&gt;example-object&lt;/Key&gt;</p>
        <p class="codeparatext_indent">&lt;UploadId&gt;XXBsb2FkIElEIGZvciBlbHZpbmcncyVcdS1tb3ZpZS5tMnRzEEEwbG9hZA&lt;/UploadId&gt;</p>
        <p class="codeparatext_indent">&lt;Initiator&gt;</p>
        <p class="codeparatext_indent_indent">&lt;ID&gt;arn:aws:iam::111122223333:user/some-user-11116a31-17b5-4fb7-9df5-b288870f11xx&lt;/ID&gt;</p>
        <p class="codeparatext_indent_indent">&lt;DisplayName&gt;umat-user-11116a31-17b5-4fb7-9df5-b288870f11xx&lt;/DisplayName&gt;</p>
        <p class="codeparatext_indent">&lt;/Initiator&gt;</p>
        <p class="codeparatext_indent">&lt;Owner&gt;</p>
        <p class="codeparatext_indent_indent">&lt;ID&gt;75aa57f09aa0c8caeab4f8c24e99d10f8e7faeebf76c078efc7c6caea54ba06a&lt;/ID&gt;</p>
        <p class="codeparatext_indent_indent">&lt;DisplayName&gt;someName&lt;/DisplayName&gt;</p>
        <p class="codeparatext_indent">&lt;/Owner&gt;</p>
        <p class="codeparatext_indent">&lt;PartNumberMarker&gt;1&lt;/PartNumberMarker&gt;</p>
        <p class="codeparatext_indent">&lt;NextPartNumberMarker&gt;3&lt;/NextPartNumberMarker&gt;</p>
        <p class="codeparatext_indent">&lt;MaxParts&gt;2&lt;/MaxParts&gt;</p>
        <p class="codeparatext_indent">&lt;IsTruncated&gt;true&lt;/IsTruncated&gt;</p>
        <p class="codeparatext_indent">&lt;Part&gt;</p>
        <p class="codeparatext_indent_indent">&lt;PartNumber&gt;2&lt;/PartNumber&gt;</p>
        <p class="codeparatext_indent_indent">&lt;LastModified&gt;2010-11-10T20:48:34.000Z&lt;/LastModified&gt;</p>
        <p class="codeparatext_indent_indent">&lt;ETag&gt;"7778aef83f66abc1fa1e8477f296d394"&lt;/ETag&gt;</p>
        <p class="codeparatext_indent_indent">&lt;Size&gt;10485760&lt;/Size&gt;</p>
        <p class="codeparatext_indent">&lt;/Part&gt;</p>
        <p class="codeparatext_indent">&lt;Part&gt;</p>
        <p class="codeparatext_indent_indent">&lt;PartNumber&gt;3&lt;/PartNumber&gt;</p>
        <p class="codeparatext_indent_indent">&lt;LastModified&gt;2010-11-10T20:48:33.000Z&lt;/LastModified&gt;</p>
        <p class="codeparatext_indent_indent">&lt;ETag&gt;"aaaa18db4cc2f85cedef654fccc4a4x8"&lt;/ETag&gt;</p>
        <p class="codeparatext_indent_indent">&lt;Size&gt;10485760&lt;/Size&gt;</p>
        <p class="codeparatext_indent">&lt;/Part&gt;</p>
        <p class="codeparatext">&lt;/ListPartsResult&gt;</p>
    </body>
</html>