﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="870" MadCap:lastWidth="649">
    <head>
        <link href="../Resources/TableStyles/DetailedwithPadding.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1 MadCap:autonum="1. &#160;">PUT Object - Copy</h1>
        <p style="text-align: left;">An implementation of the PUT operation, PUT Object - Copy creates a copy of an object that is already stored. A PUT copy operation is the same as performing a GET and then a PUT. Adding the  <i>x-amz-copy-source</i> request header causes the PUT operation to copy the source object into the destination bucket.</p>
        <p>By default, <i>x-amz-copy-source</i> identifies the current version of an object to copy. To copy a different version, use the <span class="ElementName">versionId </span>subresource.</p>
        <p style="text-align: left;">When copying an object, it is possible to preserve most of the metadata (default) or specify new metadata. However, the ACL is not preserved and is set to <span class="Code_Terminal">private</span> for the user making the request if no other ACL preference is sent with the request.</p>
        <p style="text-align: left;">All copy requests must be authenticated and cannot contain a message body. Additionally, READ access is required for the source object, and WRITE access is required for the destination bucket.</p>
        <p style="text-align: left;">To copy an object only under certain conditions, such as whether the ETag matches or whether the object was modified before or after a specified date, use the request headers <span class="ElementName">x-amz-copy-source-if-match</span>,<span class="ElementName"> x-amz-copy-source-if-none-match</span>,<span class="ElementName"> x-amz-copy-source-if-unmodified-since</span>, or <span class="ElementName">x-amz-copy-source-if-modified-since</span>.</p>
        <p class="Note" style="text-align: left;">When using v4 Authentication all headers prefixed with x-amz- must be signed, including <span class="ElementName">x-amz-copy-source</span>.</p>
        <p style="text-align: left;">The source object being copied can be encrypted or unencrypted and the destination object can be stored encrypted or unencrypted. If bucket encryption is activated on the source bucket, the source object will remain encrypted in its original location.  If bucket encryption is activated on the destination bucket, the destination object will be encrypted.  If bucket encryption is not activated on the destination bucket, the object copy will be stored unencrypted</p>
        <p style="text-align: left;">If the copy is successful, a response will generate that contains information about the copied object.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Access&#160;Permissions</h2>
        <p style="text-align: left;">When copying an object, it is possible to specify the accounts or groups that should be granted specific permissions on the new object. There are two ways to grant the permissions using the request headers:</p>
        <ul>
            <li>Specify a canned ACL using the <span class="ElementName">x-amz-acl</span> request header.</li>
            <li>Specify access permissions explicitly using the<span class="ElementName"> x-amz-grant-read</span>, <span class="ElementName">x-amz-grant-read-acp</span>, <span class="ElementName">x-amz-grant-write-acp</span>, and <span class="ElementName">x-amz-grant-full-control</span> headers. These headers map to the set of permissions <MadCap:variable name="S3 Connector Variables.ComponentName" /> supports in an ACL.</li>
        </ul>
        <p class="Note" style="text-align: left;">Access permissions can be explicitly specified or they can be enacted via a canned ACL. Both methods, however, cannot be deployed at the same time.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Requests</h2>
        <h3 MadCap:autonum="1.0.1 &#160;">Request Syntax</h3>
        <p style="text-align: left;">The request syntax that follows is for sending the ACL in the request body. If headers are used to specify the permissions for the object,  the ACL cannot be sent in the request body (refer to <MadCap:xref href="../7_Request Headers/Common Request Headers.htm">"Request Headers Detail" on page 1</MadCap:xref> for a list of available headers).</p><pre xml:space="preserve">PUT /destinationObject HTTP/1.1
Host: destinationBucket.s3.amazonaws.com
x-amz-copy-source: /source_bucket/sourceObject
x-amz-metadata-directive: metadata_directive
x-amz-copy-source-if-match: etag
x-amz-copy-source-if-none-match: etag
x-amz-copy-source-if-unmodified-since: time_stamp
x-amz-copy-source-if-modified-since: time_stamp
&amp;lt;request metadata&amp;gt;
Authorization: {{authorizationString}}
Date: date</pre>
        <p class="Note" style="text-align: left;">The syntax shows only a representative sample of the possible request headers. For a complete list, refer to <a href="#Request">Request Headers</a>.</p>
        <h3 MadCap:autonum="1.0.2 &#160;">Request Parameters</h3>
        <p style="text-align: left;">The PUT Object - Copy operation does not use request parameters.</p>
        <h3 MadCap:autonum="1.0.3 &#160;"><a name="Request"></a>Request Headers</h3>
        <p style="text-align: left;"> The PUT Object - Copy operation can use a number of optional request headers in addition to those that are common to all operations (refer to <MadCap:xref href="../7_Request Headers/Common Request Headers.htm"><MadCap:xref href="../7_Request Headers/Request Headers.htm">"Request Headers" on page&#160;1</MadCap:xref></MadCap:xref>). </p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 162px;">
            </col>
            <col class="TableStyle-DetailedwithPadding-Column-Column1">
            </col>
            <col class="TableStyle-DetailedwithPadding-Column-Column1">
            </col>
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">x-amz-copy-source</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">The name of the source bucket and key name of the source object, separated by a slash (/). If versioning is enabled, this will copy the latest version of the key by default. To specify another version append ?versionId={{version id}} after the object key.</p>
                        <p class="InTableFormatted">Default: None</p>
                        <p class="InTableFormatted">Constrains: This string must be URL-encoded. Additionally, the source bucket must be valid and READ access to the valid source object is required.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">x-amz-metadata-directive</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Specifies whether the metadata is copied from the source object or replaced with metadata provided in the request.</p>
                        <p class="InTableFormatted">If copied, the metadata<MadCap:conditionalText MadCap:conditions="PrintGuides.GA7.0">, except for the version ID</MadCap:conditionalText>, remains unchanged. In addition, the server-side-encryption, storage-class, and website-redirect-location metadata from the source is not copied. If you specify this metadata explicitly in the copy request, S3 Connector adds this metadata to the resulting object. If you specify headers in the request specifying any user-defined metadata, the connector ignores these headers. To use new user-defined metadata, REPLACE must be selected.</p>
                        <p class="InTableFormatted">If replaced, all original metadata is replaced by the specified metadata.</p>
                        <p class="InTableFormatted">Default: COPY</p>
                        <p class="InTableFormatted">Valid values: COPY, REPLACE</p>
                        <p class="InTableFormatted">Constraints: Values other than COPY or REPLACE result in an immediate 400-based error response. An object cannot be copied to itself unless the MetadataDirective header is specified and its value set to REPLACE (or, at the least, some metadata is changed, such as storage class).</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">x-amz-copy-source-if-match</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Copies the object if its entity tag (ETag) matches the specified tag; otherwise, the request returns a 412 HTTP status code error (failed precondition).</p>
                        <p class="InTableFormatted">Default: None</p>
                        <p class="InTableFormatted">Constraints: Can be used with<span class="ElementName"> x-amz-copy-source-if-unmodified-since</span>, but cannot be used with other conditional copy headers.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">x-amz-copy-source-if-none-match</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Copies the object if its entity tag (ETag) is different than the specified ETag; otherwise, the request returns a 412 HTTP status code error (failed precondition).</p>
                        <p class="InTableFormatted">Default: None</p>
                        <p class="InTableFormatted">Constraints: Can be used with <span class="ElementName">x-amz-copy-source-if-modified-since</span>, but cannot be used with other conditional copy headers.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">x-amz-copy-source-if-unmodified-since</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Copies the object if it hasn't been modified since the specified time; otherwise, the request returns a 412 HTTP status code error (failed precondition).</p>
                        <p class="InTableFormatted">Default: None</p>
                        <p class="InTableFormatted">Constraints: This must be a valid HTTP date. This header can be used with <span class="ElementName">x-amz-copy-source-if-match</span>, but cannot be used with other conditional copy headers.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">x-amz-copy-source-if-modified-since</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Copies the object if it has been modified since the specified time; otherwise, the request returns a 412 HTTP status code error (failed condition).</p>
                        <p class="InTableFormatted">Default: None</p>
                        <p class="InTableFormatted">Constraints: This must be a valid HTTP date. This header can be used with <span class="ElementName">x-amz-copy-source-if-none-match</span>, but cannot be used with other conditional copy headers.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">x-amz-storage-class</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">enum</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">Standard is the default storage class, unless specified otherwise. Currently, Scality <MadCap:variable name="S3 Connector Variables.ComponentName" /> only suports one level of storage class.</p>
                        <p class="InTableFormatted">Default: Standard</p>
                        <p class="InTableFormatted">Valid Values: STANDARD, STANDARD_IA, REDUCED_REDUNDANCY</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="text-align: left;">Note the following additional considerations about the preceding request headers:</p>
        <ul>
            <li>
                <p><span class="ProperNameBold">Consideration 1 </span>– If both of the<span class="ElementName"> x-amz-copy-source-if-match</span> and <span class="ElementName">x-amz-copy-source-if-unmodified-since</span> headers are present in the request as follows, S3 Connector returns 200 OK and copies the data:</p><pre xml:space="preserve">x-amz-copy-source-if-match condition evaluates to true, and;
x-amz-copy-source-if-unmodified-since condition evaluates to false;</pre>
                <p style="text-align: left;">S3 Connector returns 200 OK and copies the data.</p>
            </li>
        </ul>
        <ul>
            <li>
                <p><span class="ProperNameBold">Consideration 2</span> – If both of the<span class="ElementName"> x-amz-copy-source-if-none-match</span> and <span class="ElementName">x-amz-copy-source-if-modified-since</span> headers are present in the request as follows, S3 Connector returns 412 Precondition Failed response code:</p><pre xml:space="preserve">x-amz-copy-source-if-none-match condition evaluates to false, and;
x-amz-copy-source-if-modified-since condition evaluates to true</pre>
                <p>S3 Connector returns 412 Precondition Failed response code.</p>
            </li>
        </ul>
        <p style="text-align: left;"> Additionally, the following access control–related (ACL)&#160;headers can be used with the PUT Object - Copy operation. By default, all objects are private; only the owner has full access control. When adding a new object, it is possible to grant permissions to individual AWS accounts or predefined groups defined by Amazon S3. These permissions are then added to the Access Control List (ACL) on the object. For more information, refer to <MadCap:xref href="../4_ACL (Access Control List) Primer/ACL (Access Control List) Primer.htm">"ACL (Access Control List) Primer" on page 1</MadCap:xref>. </p>
        <h4>Specifying a Canned ACL</h4>
        <p style="text-align: left;"><MadCap:variable name="S3 Connector Variables.ComponentName" /> supports a set of predefined ACLs, each of which has a predefined set of grantees and permissions.</p>
        <p style="text-align: left;">To grant access permissions by specifying canned ACLs, use the <span class="ElementName">x-amz-acl</span> header and specify the canned ACL name as its value. </p>
        <p class="Note" style="text-align: left;"> Other access control specific headers cannot be used when the <span class="ElementName">x-amz-acl</span> header is in use.</p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" style="width: 87px;">
            </col>
            <col class="TableStyle-DetailedwithPadding-Column-Column1">
            </col>
            <col class="TableStyle-DetailedwithPadding-Column-Column1">
            </col>
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">x-amz-acl</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">The canned ACL to apply to the object.</p>
                        <p class="InTableFormatted">Default: <span class="Code_Terminal">private</span></p>
                        <p class="InTableFormatted">Valid Values: <span class="Code_Terminal">private</span> | <span class="Code_Terminal">public-read</span> | <span class="Code_Terminal">public-read-write</span> | <span class="Code_Terminal">aws-exec-read</span> | <span class="Code_Terminal">authenticated-read</span> | <span class="Code_Terminal">bucket-owner-read</span> | <span class="Code_Terminal">bucket-owner-full-control</span></p>
                        <p class="InTableFormatted">Constrains: None</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h4>Explicitly Specifying Grantee Access Permissions</h4>
        <p style="text-align: left;">A set of headers is available for explicitly granting access permissions to specific <MadCap:variable name="S3 Connector Variables.ComponentName" /> accounts or groups.</p>
        <p class="Note" style="text-align: left;">Each of the <span class="ElementName">x-amz-grant-permission</span> headers maps to specific permissions the <MadCap:variable name="S3 Connector Variables.ComponentName"></MadCap:variable> supports in an ACL.  Please also note that the use of any of these ACL-specific headers negates the use of the <span class="ElementName">x-amz-acl</span> header to set a canned ACL.</p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1">
            </col>
            <col class="TableStyle-DetailedwithPadding-Column-Column1">
            </col>
            <col class="TableStyle-DetailedwithPadding-Column-Column1">
            </col>
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Header</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">x-amz-grant-read</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Allows grantee to read the object data and its metadata</p>
                        <p class="InTableFormatted">Default: None </p>
                        <p class="InTableFormatted">Constraints: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">x-amz-grant-write</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Not applicable. This applies only when granting access permissions on a bucket.</p>
                        <p class="InTableFormatted">Default: None </p>
                        <p class="InTableFormatted">Constraints: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">x-amz-grant-read-acp</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Allows grantee to read the object ACL</p>
                        <p class="InTableFormatted">Default: None </p>
                        <p class="InTableFormatted">Constraints: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">x-amz-grant-write-acp</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Allows grantee to write the ACL for the applicable object</p>
                        <p class="InTableFormatted">Default: None </p>
                        <p class="InTableFormatted">Constraints: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">x-amz-grant-full-control</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">Allows grantee the READ, READ_ACP, and WRITE_ACP permissions on the object</p>
                        <p class="InTableFormatted">Default: None </p>
                        <p class="InTableFormatted">Constraints: None</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p style="text-align: left;">For each header, the value is a comma-separated list of one or more grantees. Each grantee is specified as a <span class="Code_Terminal">type=value</span> pair, where the type can be one any one of the following:</p>
        <ul>
            <li><span class="Code_Terminal">emailAddress</span> (if value specified is the email address of an account)</li>
            <li><span class="Code_Terminal">id</span> (if value specified is the canonical user ID of an account)</li>
            <li><span class="Code_Terminal">uri</span> (if granting permission to a predefined group)</li>
        </ul>
        <p style="text-align: left;">For example, the following <span class="ElementName">x-amz-grant-read</span> header grants list objects permission to two accounts identified by their email addresses:</p><pre xml:space="preserve">x-amz-grant-read:  emailAddress="xyz@scality.com", emailAddress="abc@scality.com"</pre>
        <h3 MadCap:autonum="1.0.4 &#160;">Request Elements</h3>
        <p style="text-align: left;">The implementation of the operation does not use request parameters.</p>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Responses</h2>
        <h3 MadCap:autonum="1.0.5 &#160;">Response Headers</h3>
        <p class="pgBreakKeepNext" style="text-align: left;">Implementation of the PUT Object - Copy operation can include the following response headers in addition to the response headers common to all responses (refer to <MadCap:xref href="../8_Response Headers/Response Headers.htm">"Response Headers" on page 1</MadCap:xref>).</p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1" MadCap:conditions="PrintGuides.GA">Header</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1" MadCap:conditions="PrintGuides.GA">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1" MadCap:conditions="PrintGuides.GA">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>x-amz-copy-source-version-id</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p>string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p>Returns the version ID of the retrieved object if it has a unique version ID.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">x-amz-server-side-encryption</td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">string</td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">If server-side encryption is specified either with an AWS KMS or S3 Connector-managed encryption key in the copy request, the response includes this header, confirming the encryption algorithm that was used to encrypt the object.</td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted" MadCap:conditions="PrintGuides.GA">x-amz-server-side-encryption-aws-kms-key-id</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted" MadCap:conditions="PrintGuides.GA">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">If the <span class="ElementName">x-amz-server-side-encryption</span> is present and has the value of <span class="ElementName">aws:kms</span>, this header specifies the ID of the AWS Key Management Service (KMS) master encryption key that was used for the object.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted" MadCap:conditions="PrintGuides.GA">x-amz-server-side-encryption-customer-algorithm</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted" MadCap:conditions="PrintGuides.GA">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">If server-side encryption with customer-provided encryption keys (SSE-C) encryption was requested, the response will include this header confirming the encryption algorithm used for the destination object.</p>
                        <p class="InTableFormatted">Valid Values: <span class="Code_Terminal">AES256</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted" MadCap:conditions="PrintGuides.GA">x-amz-server-side-encryption-customer-key-MD5</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted" MadCap:conditions="PrintGuides.GA">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">If SSE-C encryption was requested, the response includes this header to provide roundtrip message integrity verification of the customer-provided encryption key used to encrypt the destination object.</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted" MadCap:conditions="PrintGuides.GA">x-amz-version-id</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted" MadCap:conditions="PrintGuides.GA">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">Version of the copied object in the destination bucket.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3 MadCap:autonum="1.0.6 &#160;">Response Elements</h3>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/DetailedwithPadding.css');" class="TableStyle-DetailedwithPadding" cellspacing="0">
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <col class="TableStyle-DetailedwithPadding-Column-Column1" />
            <thead>
                <tr class="TableStyle-DetailedwithPadding-Head-Header1">
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1" MadCap:conditions="PrintGuides.GA">Header</th>
                    <th class="TableStyle-DetailedwithPadding-HeadE-Column1-Header1" MadCap:conditions="PrintGuides.GA">Type</th>
                    <th class="TableStyle-DetailedwithPadding-HeadD-Column1-Header1" MadCap:conditions="PrintGuides.GA">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted" MadCap:conditions="PrintGuides.GA">CopyObjectResult</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted" MadCap:conditions="PrintGuides.GA">container</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Container for all response elements.</p>
                        <p class="InTableFormatted">Ancestor: None</p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1" MadCap:conditions="">
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted" MadCap:conditions="PrintGuides.GA">ETag</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyE-Column1-Body1">
                        <p class="InTableFormatted" MadCap:conditions="PrintGuides.GA">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyD-Column1-Body1">
                        <p class="InTableFormatted">Returns the <span class="ElementName">ETag</span> of the new object. The <span class="ElementName">ETag</span> reflects changes only to the contents of an object, not its metadata. The source and destination <span class="ElementName">ETag</span> will be identical for a successfully copied object.</p>
                        <p class="InTableFormatted">Ancestor: <span class="Code_Terminal">CopyObjectResult</span></p>
                    </td>
                </tr>
                <tr class="TableStyle-DetailedwithPadding-Body-Body1">
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted" MadCap:conditions="PrintGuides.GA">LastModified</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyB-Column1-Body1">
                        <p class="InTableFormatted" MadCap:conditions="PrintGuides.GA">string</p>
                    </td>
                    <td class="TableStyle-DetailedwithPadding-BodyA-Column1-Body1">
                        <p class="InTableFormatted">Returns the date the object was last modified.</p>
                        <p class="InTableFormatted">Ancestor: <span class="Code_Terminal">CopyObjectResult</span></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="NoTOCentry" MadCap:autonum=" ">Examples</h2>
        <h3 MadCap:autonum="1.0.7 &#160;">Copying a File into a Bucket with a Different Key Name</h3>
        <p style="text-align: left;">The request sample copies a pdf file into a bucket with a different key name. </p>
        <h4>Request Sample</h4><pre xml:space="preserve">PUT /my-document.pdf HTTP/1.1
Host: {{bucketName}}.s3.scality.com
Date: Wed, 21 Sep 2016 18:18:00 GMT
x-amz-copy-source: /{{bucketName}}/my-pdf-document.pdf
Authorization: {{authorizationString}}</pre>
        <h4>Response Sample</h4><pre xml:space="preserve">HTTP/1.1 200 OK
x-amz-id-2: eftixk72aD6Ap51TnqcoF8eFidJG9Z/2mkiDFu8yU9AS1ed4OpIszj7UDNEHGran
x-amz-request-id: 318BC8BC148832E5
x-amz-copy-source-version-id: 3/L4kqtJlcpXroDTDmJ+rmSpXd3dIbrHY+MTRCxf3vjVBH40Nr8X8gdRQBpUMLUo
x-amz-version-id: QUpfdndhfd8438MNFDN93jdnJFkdmqnh893
Date: Wed, 21 Sep 2016 18:18:00 GMT
Connection: close
Server: ScalityS3</pre><pre xml:space="preserve">

&lt;CopyObjectResult&gt;
   &lt;LastModified&gt;2009-10-28T22:32:00&lt;/LastModified&gt;
   &lt;ETag&gt;"9b2cf535f27731c974343645a3985328"&lt;/ETag&gt;
 &lt;/CopyObjectResult&gt;</pre>
        <p style="text-align: left;"><span class="ElementName">x-amz-version-id</span> returns the version ID of the object in the destination bucket, and <span class="ElementName">x-amz-copy-source-version-id</span> returns the version ID of the source object.</p>
        <h3 MadCap:autonum="1.0.8 &#160;">Copying a Specified Version of an Object</h3>
        <p style="text-align: left;">The request sample copies a pdf file with a specified version ID and copies it into the bucket {{bucketname}} and gives it a different key name.</p>
        <h4>Request Sample</h4>
        <p class="codeparatext" style="color: #000000;">PUT /my-document.pdf HTTP/1.1</p>
        <p class="codeparatext" style="color: #000000;">Host: {{bucketName}}.s3.scality.com</p>
        <p class="codeparatext" style="color: #000000;">Date: Wed, 21 Sep 2016 18:18:00 GMT</p>
        <p class="codeparatext" style="color: #000000;">x-amz-copy-source: /{{bucketName}}/my-pdf-document.pdf?versionId=3/L4kqtJlcpXroDTDmJ+rmSpXd3dIbrHY+MTRCxf3vjVBH40Nr8X8gdRQBpUMLUo</p>
        <p class="codeparatext_lastline" style="color: #000000;">Authorization: {{authorizationString}}</p>
        <h4>Response Sample: Copying a Versioned Object into a Version-Enabled Bucket</h4>
        <p style="text-align: left;">The response sample shows that an object was copied into a target bucket where Versioning is enabled.</p><pre xml:space="preserve">HTTP/1.1 200 OK
x-amz-id-2: eftixk72aD6Ap51TnqcoF8eFidJG9Z/2mkiDFu8yU9AS1ed4OpIszj7UDNEHGran
x-amz-request-id: 318BC8BC148832E5
x-amz-version-id: QUpfdndhfd8438MNFDN93jdnJFkdmqnh893
x-amz-copy-source-version-id: 09df8234529fjs0dfi0w52935029wefdj
Date: Wed, 21 Sep 2016 18:18:00 GMT
Connection: close
Server: ScalityS3</pre><pre xml:space="preserve">

&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;CopyObjectResult&gt;
   &lt;LastModified&gt;2009-10-28T22:32:00&lt;/LastModified&gt;
   &lt;ETag&gt;"9b2cf535f27731c974343645a3985328"&lt;/ETag&gt;
&lt;/CopyObjectResult&gt;</pre>
        <h4>Response Sample: Copying a Versioned Object into a Version-Suspended Bucket</h4>
        <p style="text-align: left;">The response sample shows that an object was copied into a target bucket where versioning is suspended. Note that the response header <span class="ElementName">x-amz-version-id</span> does not appear.</p><pre xml:space="preserve">
HTTP/1.1 200 OK
x-amz-id-2: eftixk72aD6Ap51TnqcoF8eFidJG9Z/2mkiDFu8yU9AS1ed4OpIszj7UDNEHGran
x-amz-request-id: 318BC8BC148832E5
x-amz-copy-source-version-id: 3/L4kqtJlcpXroDTDmJ+rmSpXd3dIbrHY+MTRCxf3vjVBH40Nr8X8gdRQBpUMLUo
Date: Wed, 21 Sep 2016 18:18:00 GMT
Connection: close
Server: ScalityS3</pre><pre xml:space="preserve">

&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;CopyObjectResult&gt;
  &lt;LastModified&gt;2009-10-28T22:32:00&lt;/LastModified&gt;
  &lt;ETag&gt;"9b2cf535f27731c974343645a3985328"&lt;/ETag&gt;
&lt;/CopyObjectResult&gt;</pre>
        <h3 MadCap:autonum="1.0.9 &#160;">Copy from Unencrypted Object to an Object Encrypted with Server-Side Encryption, using Customer-Provided Encryption Keys</h3>
        <p style="text-align: left;">The request sample specifies the HTTP PUT header to copy an unencrypted object to an object encrypted with server-side encryption with customer-provided encryption keys (SSE-C).</p>
        <h4>Request Sample</h4><pre xml:space="preserve">PUT ExampleObject.txt?acl HTTP/1.1
Host: {{bucketName}}.s3.scality.com
x-amz-acl: public-read
Accept: */*
Authorization: {{authorizationString}}
Host: s3.scality.com
Connection: Keep-Alive
PUT /exampleDestinationObject HTTP/1.1
Host: example-destination-bucket.s3.amazonaws.com
x-amz-server-side-encryption-customer-algorithm: AES256
x-amz-server-side-encryption-customer-key: Base64{{customerProvidedKey}})
x-amz-server-side-encryption-customer-key-MD5 : Base64(MD5{{customerProvidedKey}})
x-amz-metadata-directive: metadata_directive
x-amz-copy-source: /example_source_bucket/exampleSourceObject
x-amz-copy-source-if-match: {{etag}}
x-amz-copy-source-if-none-match: {{etag}}
x-amz-copy-source-if-unmodified-since: {{timeStamp}}
x-amz-copy-source-if-modified-since: {{timeStamp}}
&amp;lt;request metadata&amp;gt;
Authorization: {{authorizationString}}
Date: {{date}}</pre>
        <h3 MadCap:autonum="1.0.10 &#160;">Copy from Object Encrypted with SSE-C to an Object Encrypted with SSE-C</h3>
        <p style="text-align: left;">The request sample specifies the HTTP PUT header to copy an object encrypted with server-side encryption with customer-provided encryption keys to an object encrypted with server-side encryption with customer-provided encryption keys for key rotation.</p>
        <h4>Request Sample</h4><pre xml:space="preserve">PUT /exampleDestinationObject HTTP/1.1
Host: example-destination-bucket.s3.amazonaws.com
x-amz-server-side-encryption-customer-algorithm: AES256
x-amz-server-side-encryption-customer-key: Base64({{customerProvidedKey}})
x-amz-server-side-encryption-customer-key-MD5: Base64(MD5{{customerProvidedKey}})
x-amz-metadata-directive: metadata_directive
x-amz-copy-source: /source_bucket/sourceObject
x-amz-copy-source-if-match: {{etag}}
x-amz-copy-source-if-none-match: {{etag}}
x-amz-copy-source-if-unmodified-since: {{timeStamp}}
x-amz-copy-source-if-modified-since: {{timeStamp}}
x-amz-copy-source-server-side-encryption-customer-algorithm: AES256
x-amz-copy-source-server-side-encryption-customer-key: Base64({{oldKey}})
x-amz-copy-source-server-side-encryption-customer-key-MD5: Base64(MD5{{oldKey}})
&amp;lt;request metadata&amp;gt;
Authorization: {{authorizationString}}
Date: {{date}}</pre>
    </body>
</html>